@charset "UTF-8";
.headerInner {
  background-color: #ffffff;
  width: 100%;
  height: 64px;
  display: flex;
  justify-content: space-between;
}

.posseLogo {
  text-align: center;
  margin: auto 40px;
}
@media screen and (max-width: 480px) {
  .posseLogo {
    margin: auto 20px;
  }
  .posseLogo img {
    width: 100px;
    height: auto;
  }
}

.posseLogo::after {
  content: "4th week";
  color: #97b9d1;
  vertical-align: middle;
  margin-left: 20px;
}
@media screen and (max-width: 480px) {
  .posseLogo::after {
    font-size: 10px;
  }
}

.postButton {
  background: linear-gradient(to right, #0f71bc, #3ccfff);
  color: #f5fbfe;
  height: 40px;
  font-size: 20px;
  width: 200px;
  border-radius: 20px;
  margin: auto 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 8px #76C7EA;
}
@media screen and (max-width: 480px) {
  .postButton {
    position: absolute;
    width: calc(100% - 40px);
    left: 0;
    right: 0;
    bottom: 20px;
    margin: auto;
  }
}

.modalWrapper {
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.modalWrapper:not(:target) {
  opacity: 0;
  visibility: hidden;
}

.modalWrapper:target {
  opacity: 1;
  visibility: visible;
}

.modalWrapper::after {
  display: inline-block;
  height: 100%;
  margin-left: -0.05em;
  vertical-align: middle;
  content: "";
}

.modalWrapper .modalWindow {
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 900px;
  background: #fff;
  vertical-align: middle;
  border-radius: 20px;
}

.modalOverlay {
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(102, 102, 102, 0.8);
}

.modalWindow {
  text-align: left;
}

.modalWrapper .modalClose {
  z-index: 20;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  color: #656565;
  text-decoration: none;
  text-indent: 0;
}

.modalClose {
  text-align: center;
  line-height: 1;
  background-color: #f5f5f8;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 30px;
}

.modalContent {
  display: flex;
}

.modalContentsTitle {
  margin-top: 20px;
  /* margin-bottom: 2px; */
  padding-bottom: 2px;
}

/*--------------------------
modal left
--------------------------*/
.modalLeft {
  flex-basis: 50%;
  margin-left: 56px;
  margin-right: 20px;
}

.checkbox {
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}

.click {
  border-radius: 50%;
}

.textInput {
  background: #f5f5f8;
  border-style: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}

.areaInput {
  background: #f5f5f8;
  border-style: none;
  width: 100%;
  border-radius: 10px;
}

.checkcircle-color {
  color: #ccc;
}

.checkcircle-color.checkcircle-color-checked {
  color: #2371bd;
}

.testbox-bg.testbox-checked {
  background-color: #e7f5ff;
}

.testbox {
  border-radius: 20px;
  height: 35px;
  width: auto;
  text-align: center;
  margin: 5px;
  padding: 0 10px 0 7px;
  display: table;
}

.testbox-bg {
  background-color: #f5f5f8;
}

.testbox input[type=checkbox] {
  display: none;
}

.testbox label {
  line-height: 35px;
  vertical-align: middle;
}

.testbox input + label {
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
}

/*--------------------------
modal right
--------------------------*/
.modalRight {
  flex-basis: 50%;
  margin-left: 20px;
  margin-right: 56px;
}

.tweetButton {
  display: flex;
  align-items: center;
}

.tweetButton input[type=checkbox] {
  display: none;
}

.modalPost {
  font-size: 24px;
  background: linear-gradient(to right, #0f71bc, #3ccfff);
  color: #f5fbfe;
  height: 50px;
  font-size: 25px;
  width: 400px;
  margin: 30px auto;
  border-radius: 25px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 8px #76C7EA;
}

.footerWrapper {
  background-color: #f5f5f8;
  text-align: center;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .footerWrapper {
    margin: 16px auto;
  }
}

/* ------------日付----------- */
.footerMonth {
  margin: 0 20px;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .footerMonth {
    font-size: 16px;
  }
}

/* ----------矢印ボタン---------- */
.footerWrapper button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.error-color {
  color: #F4BD67;
}

.errorMain {
  height: 100%;
  margin: auto;
  text-align: center;
  vertical-align: middle;
  position: relative;
}

.errorContainer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.errorIconWrapper {
  margin: auto;
  position: relative;
  padding-top: 30px;
}

.errorIconWrapper::before {
  content: "ERROR";
  color: #F4BD67;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.errorMain p {
  margin: 20px auto;
}

body {
  background-color: #f5f5f8;
  position: relative;
  height: 100vh;
}

/***********           main        ***********/
main div {
  border-radius: 5px;
}

.mainInner {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
@media screen and (max-width: 480px) {
  .mainInner {
    margin: 0 20px;
    width: auto;
    flex-direction: column;
  }
}

/***********           Left        ***********/
.mainLeft {
  width: 50%;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .mainLeft {
    width: 100%;
  }
}

.hours {
  display: flex;
  justify-content: space-around;
  margin: 10px;
}
@media screen and (max-width: 480px) {
  .hours {
    margin: 8px 0 0 0;
  }
}

.todayBox, .monthBox, .totalBox {
  background-color: #ffffff;
  flex-basis: 33.3%;
  font-weight: bold;
  padding: 10px;
  box-shadow: 0 0 8px #dedede;
}
@media screen and (max-width: 480px) {
  .todayBox, .monthBox, .totalBox {
    padding: 8px;
  }
}

.todayBox {
  margin: 10px 10px 10px 0px;
}
@media screen and (max-width: 480px) {
  .todayBox {
    margin: 8px 8px 8px 0px;
  }
}

.monthBox {
  margin: 10px;
}
@media screen and (max-width: 480px) {
  .monthBox {
    margin: 8px;
  }
}

.totalBox {
  margin: 10px 0px 10px 10px;
}
@media screen and (max-width: 480px) {
  .totalBox {
    margin: 8px 0px 8px 8px;
  }
}

.period {
  color: #2371bc;
}

.time {
  font-size: 36px;
}
@media screen and (max-width: 480px) {
  .time {
    font-size: 24px;
  }
}

.hour {
  color: #97b9d1;
}

.graph {
  background-color: #ffffff;
  margin: 10px;
  box-shadow: 0 0 8px #dedede;
}
@media screen and (max-width: 480px) {
  .graph {
    margin: 8px 0px;
  }
}

/***********           Right        ***********/
.mainRight {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
@media screen and (max-width: 480px) {
  .mainRight {
    width: 100%;
  }
}

.lang {
  background-color: #ffffff;
  margin: 10px;
  margin-top: 20px;
  flex-basis: 50%;
  box-shadow: 0 0 8px #dedede;
  position: relative;
}
@media screen and (max-width: 480px) {
  .lang {
    width: auto;
    height: 250px;
    margin: 8px 8px 8px 0;
  }
}

.contents {
  background-color: #ffffff;
  margin: 10px;
  margin-top: 20px;
  flex-basis: 50%;
  box-shadow: 0 0 8px #dedede;
  position: relative;
}
@media screen and (max-width: 480px) {
  .contents {
    width: auto;
    height: 250px;
    margin: 8px 0 8px 8px;
  }
}

.contentTitle {
  position: absolute;
  left: 20px;
  font-size: 20px;
  font-weight: bold;
  margin-top: 30px;
}
@media screen and (max-width: 480px) {
  .contentTitle {
    font-size: 16px;
    left: 16px;
    margin-top: 16px;
  }
}
/*# sourceMappingURL=index.css.map */