@use  'header'; //_header.scss 
@use  'modal1'; //_modal1.scss                       
@use  'footer'; //_footer.scss
@use  'error'; //_error.scss

body{
  background-color: #f5f5f8;
  position: relative;
  height: 100vh;  
}
ul{padding: 0%;}

/***********           main        ***********/

main div{
  border-radius: 5px;
}
.mainInner{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  @media screen and (max-width: 480px) {
    margin: 0 20px;
    width: auto;
    flex-direction: column;
  }
}

/***********           Left        ***********/
.mainLeft{
  width: 50%;
  text-align: center;
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}
.hours{
  display: flex;
  justify-content: space-around;
  margin: 10px;
  @media screen and (max-width: 480px) {
    margin: 8px 0 0 0;
  }
}
.todayBox, .monthBox, .totalBox{
  background-color: #ffffff;
  flex-basis: 33.3%;
  font-weight: bold;
  padding: 10px;
  box-shadow: 0 0 8px #dedede;
  @media screen and (max-width: 480px) {
    padding: 8px;
  }
}
.todayBox{
  margin: 10px 10px 10px 0px;
  @media screen and (max-width: 480px) {
    margin: 8px 8px 8px 0px;
  }
}
.monthBox{
  margin: 10px;
  @media screen and (max-width: 480px) {
    margin: 8px;
  }
}
.totalBox{
  margin: 10px 0px 10px 10px;
  @media screen and (max-width: 480px) {
    margin: 8px 0px 8px 8px;
  }
}
.period{
  color: #2371bc;
}
.time{
  font-size: 36px;
  @media screen and (max-width: 480px) {
    font-size: 24px;
  }
}
.hour{
  color: #97b9d1;
}
.graph{
  background-color: #ffffff;
  margin: 10px;
  box-shadow: 0 0 8px #dedede;
  @media screen and (max-width: 480px) {
    margin: 8px 0px;
  }
}

/***********           Right        ***********/
.mainRight{
  display: flex;
  justify-content: space-around;
  width: 50%;
  @media screen and (max-width: 480px) {
    width: 100%;
  }
}
.lang{
  background-color: #ffffff;
  margin: 10px;
  margin-top: 20px;
  flex-basis: 50%;
  box-shadow: 0 0 8px #dedede;
  @media screen and (max-width: 480px) {
    margin: 8px 8px 8px 0;
  }
}
.contents{
  background-color: #ffffff;
  margin: 10px;
  margin-top: 20px;
  flex-basis: 50%;
  box-shadow: 0 0 8px #dedede;
  @media screen and (max-width: 480px) {
    margin: 8px 0 8px 8px;
  }
}
.contentTitle{
  font-size: 20px;
  font-weight: bold;
  margin: 30px 0px;
  padding-left: 20px;
  @media screen and (max-width: 480px) {
    font-size: 16px;
    left: 16px;
    margin-top: 16px;
  }
}
.chart{
  text-align: center;
}
.legends li {
  margin-left: 20px;
  list-style-type: none;
  position: relative;
  padding-left: 1.3em;
  @media screen and (max-width: 480px) {
    font-size: 10px;
  }
  }
li:before {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: block;
  position: absolute;
  left: 0em;
  top: 0.25em;
  content: "";
  background: #000;
}
.legend1::before{
  background: #2245EC;
}
.legend2::before{
  background: #2371BD;
}
.legend3::before{
  background: #39BDDE;
}
.legend4::before{
  background: #40CEFE;
}
.legend5::before{
  background: #B29FF3;
}
.legend6::before{
  background: #6D46EC;
}
.legend7::before{
  background: #4A17EF;
}
.legend8::before{
  background: #3105C0;
}
.lang ul{
  display: flex;
  flex-wrap: wrap;
}


