.modalWrapper{
  z-index: 999;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  text-align: center;
}

.modalWrapper:not(:target){
  opacity: 0;
  visibility: hidden;
}

.modalWrapper:target{
  opacity: 1;
  visibility: visible;
}

.modalWrapper::after{
  display: inline-block;
  height: 100%;
  margin-left: -.05em;
  vertical-align: middle;
  content: ""
}

.modalWrapper .modalWindow{
  box-sizing: border-box;
  display: inline-block;
  z-index: 20;
  position: relative;
  width: 70%;
  max-width: 900px;
  background: #fff;
  vertical-align: middle;
  border-radius: 20px;
}

.modalOverlay{
  z-index: 10;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(102, 102, 102, 0.8);
}
.modalWindow{
  text-align: left;
}
.modalWrapper .modalClose{
  z-index: 20;
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  color: #656565;
  /* text-align: center; */
  text-decoration: none;
  text-indent: 0;
}
.modalClose{
  text-align: center;
  line-height: 1;
  background-color: #f5f5f8;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  font-size: 30px;
}

.modalContent{
  display: flex;
}

.modalContentsTitle{
  margin-top: 20px;
  /* margin-bottom: 2px; */
  padding-bottom: 2px;
}

.modalLeft{
  flex-basis: 50%;
  margin-left: 56px;
  margin-right: 20px;
}
.checkbox{
  font-size: 15px;
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
}
.click{
  border-radius: 50%;
}
.textInput{
  background: #f5f5f8;
  border-style: none;
  width: 100%;
  height: 40px;
  border-radius: 10px;
}
.areaInput{
  background: #f5f5f8;
  border-style: none;
  width: 100%;
  border-radius: 10px;
}
.modalRight{
  flex-basis: 50%;
  margin-left: 20px;
  margin-right: 56px;
}
.modalPost{
  font-size: 24px;
  background: linear-gradient(to right, #2371bc, #40cdff);
  color: #f5fbfe;
  height: 50px;
  font-size: 25px;
  width: 400px;
  margin: 30px auto;
  border-radius: 25px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 0 8px #76C7EA;
}

.testbox{
  background-color: #f5f5f8;
  border-radius: 20px;
  height: 35px;
  width: auto;
  text-align: center;
  margin: 5px;
  padding-right: 10px;
  display: table;
}
.testbox:checked{
  background-color: #E7F5FF;
}
.testbox input[type="checkbox"]{
  display: none;
}
.testbox label{
  line-height: 35px;
}
.testbox input + label{
  display: none;
  cursor: pointer;
  display: inline-block;
  position: relative;
  padding-left: 35px;
}

.testbox input + label::before{
  content: "";
  position: absolute;
  display: block;
  background-color: #ccc;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  left: 10px;
  top: 22%;
}
.testbox input[type="checkbox"]+label::after{
  content: "";
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 12px;
  height: 6px;
  margin-top: -6px;
  top: 55%;
  left: 14px;
  transform: rotate(-45deg);
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-color:  #f5f5f8;
  border-radius: 1px;
}
.testbox input[type="checkbox"]:checked{
  background-color: #e7f5ff;
}
.testbox input[type="checkbox"]:checked +label::before{
  background-color: #2371bd;
}
.testbox:checked{
  background-color: #E7F5FF;
}